<html>
  <head>
    <title>Dota 2 Boost Checker</title>
    <style>
      html {
        font-family: monospace;
        margin-left: 10px;
      }
    </style>
  </head>
  <body>
    <h1>Dota 2 Boost Checker</h1>
    Enter your Steam ID (you can get this from the URL of your Steam profile) to find out whether your friends are boosted.
    <br><br>
    <form action='/scan_friends' method='GET'>
      Steam ID: <input type='text' name='id'>
      <input type='submit' value="Submit">
    </form>
  </body>
</html>
